.Dialog {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dialog-modal {
    background: white;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 20%) 0 11px 15px -7px, rgb(0 0 0 / 14%) 0 24px 38px 3px, rgb(0 0 0 / 12%) 0 9px 46px 8px;
    padding: 1rem;
    max-width: 75%;
    width: 100%;
}

.Dialog-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
}
